* 
{
	font-family: 'Titan One', cursive;
}

body
{
	background: url(../img/backgroundImage.jpg) no-repeat #A8EDFF;
	background-size: cover;
}

.homepage img:first-child
{
    width: 45%;
    height: 45%;
    display: block;
    margin: 0 auto;
}

#logo
{
	width: 89%;
	height: auto;
}

.ui.header
{
	font-family: 'Titan One', cursive;
}

#usernameInput
{
	border-radius: 22px;
	font-size: 16px;
	font-family: 'Titan One', cursive;
}

#playBtn
{
	background-color: #7ADEFF;
	border-radius: 22px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Titan One', cursive;
}

#canvas
{
    background-color: black;
    width: 100%;
    height: 100%;
    color: black;
}

#scoreBoard
{
	border-radius: 22px;
}

#answer
{
	border-radius: 22px;	
}

.heart.icon 
{
	color: red;
}

.ui.button
{
	border-radius: 22px;
	font-family: 'Titan One', cursive;
}

.answerChar
{
    background-color: #9DA5B3;
    margin: 5%;
    width: 50%;
    height: 20%;
}

.inChar
{
    background-color: #282C33;
    margin: 5%;
    width: 50%;
    height: 20%;

}
.answerChar .EachChar, .inChar .EachChar
{
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
}
